<h4 class="flex items-center">
    <mat-icon>info</mat-icon>
    <span class="ml-2 text-base font-semibold">Personal Info</span>
</h4>

<ul class="text-gray-700 pl-2">
    <li class="flex items-center mb-1">
        <mat-icon class="scale-75">local_library</mat-icon>
        <span>Studied at <b>University of London</b></span>
    </li>

    <li class="flex items-center mb-1">
        <mat-icon class="scale-75">work</mat-icon> 
        <span>Software Developer at <a class="text-blue-600 underline" href="https://revature.com/">Revature</a></span>
    </li>

    <li class="flex items-center mb-1">
        <mat-icon class="scale-75">location_on</mat-icon>
        <span>From: <b>Manchester, UK</b></span> 
    </li>

    <li class="flex items-center mb-1">
        <mat-icon class="scale-75">favorite</mat-icon>
        <span>Martial Status: <b>Married</b></span>
    </li>
</ul>