#profile {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    grid-template-rows: 1fr max-content max-content;
}

#background {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

#user_photo{
    position: relative;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

#profile_nav {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.mat-form-field {
    background-color: white !important;
}

.mat-form-field::ng-deep.mat-form-field{
    background-color: white !important;
}

::ng-deep .mat-form-field{
    background-color: white !important;
}

::ng-deep .mat-form-field-appearance-outline#specific-border .mat-form-field-outline  {
    background-color: white !important;
    border-radius: 5px;  
}