<app-navbar></app-navbar>
<div class="mx-5 lg:mx-7 xl:mx-20">

    <!-- User's Hero Banner -->
    <div class="box-shadow">
        <div class="" id="profile">
            <div class="bg-[url('https://th.bing.com/th/id/R.77d86c07a77caa50a1007988a9c5df5d?rik=FccQzPNYUxhKaw&pid=ImgRaw&r=0')] h-64" id="background"></div>
    
            <div class="grid grid-flow-col grid-cols-[max-content_1fr]" id="user_photo">
                <img class="w-[120px] border-[5px] rounded-full border-white ml-5 mr-3 mt-3"  [src]="user_image" alt="user's photo">
                
                <div class="grid items-end">
                    <div class="flex items-center justify-between w-full">
                        <span class="text-white text-2xl text-shadow"> {{ user_first_name + ' ' + user_last_name }}</span>
    
    
                        <!-- Edit Profile Link-->
                        <a class="flex items-center uppercase text-[12px] font-semibold text-white text-shadow">
                            <span class="tracking-wider">Edit profile</span>
                            <mat-icon class="ml-1 mr-5">play_arrow</mat-icon>
                        </a>
    
                    </div>
                    
                    <span class="font-semibold text-sm pb-1 text-gray-700">{{ user_city + ', ' + user_country }}</span>
                </div>
            </div>
        
            <!-- White line -->
            <div class="bg-white h-8" id="profile_nav"></div>
        </div>
    </div>


    <div class="mt-4 grid grid-cols-[270px_1fr_1fr] lg:grid-cols-[360px_1fr_1fr] xl:grid-cols-4 gap-4">

        <aside>
            <!-- Personal Information | Container -->
            <div class="bg-white box-shadow p-4">
                <app-profile-personal-information></app-profile-personal-information>
            </div>

            <!-- List of Friends-->
            <div class="mt-4 py-4 bg-white box-shadow">
                <h4 class="px-4 flex items-center justify-between">
                    <span class="flex items-center">
                        <mat-icon>group</mat-icon>
                        <span class="ml-2 text-base font-semibold">
                            Friends
                        </span>
                    </span>
                    <a class="text-blue-600 underline">All 64 friends</a>
                </h4>

                <ul class="grid grid-cols-3 grid-rows-2 gap-x-1.5 gap-y-1 px-1">
                    <li>
                        <img class="w-full h-full object-cover" src="https://th.bing.com/th/id/OIP.dRxYDV441prSjH3e4upzwgHaE8?pid=ImgDet&rs=1">
                    </li>
                    <li>
                        <img class="w-full h-full overflow-hidden object-cover" src="https://th.bing.com/th/id/OIP.M4s8U7VAp2Z5VzVVpzMujAHaFj?w=231&h=180&c=7&r=0&o=5&pid=1.7">
                    </li>
                    <li>
                        <img class="w-full h-full overflow-hidden object-cover" src="https://th.bing.com/th/id/OIP.hwwFETHzhbdKpOeK0nLNxwHaE8?pid=ImgDet&rs=1">
                    </li>
                    <li>
                        <img class="w-full h-full overflow-hidden object-cover" src="https://th.bing.com/th/id/OIP.S-jEU0Shax-51b1K5JMUPwHaEK?pid=ImgDet&rs=1">
                    </li>
                    <li>
                        <img class="w-full h-full overflow-hidden object-cover" src="https://th.bing.com/th/id/OIP.J8c2WZPovxYc0O65WXEYHgHaD4?pid=ImgDet&rs=1">
                    </li>
                    <li>
                        <img class="w-full h-full overflow-hidden object-cover" src="https://th.bing.com/th/id/OIP.B7HEsxCp6l__fGZeekFcugHaE1?pid=ImgDet&rs=1">
                    </li>

                </ul>
            </div>

            <div class="mt-4 py-4 bg-white box-shadow">
                <h4 class="px-4 flex items-center justify-between">
                    <span class="flex items-center">
                        <mat-icon>photo</mat-icon>
                        <span class="ml-2 text-base font-semibold">
                            Photos
                        </span>
                    </span>
                    <a class="text-blue-600 underline">All</a>
                </h4>
            </div>

        </aside>
        

        <div class="col-span-2">

            <div *ngFor="let post of posts">
                <app-post [post]="post"></app-post>
            </div>
           
        </div>
        
    </div>
    

    <!--  -->
</div>




